# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*,cover

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python wheels
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# dotenv environment variables file
.env
